<%= form_with  model:@coordination,  local: true do |f| %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description, "キャッチコピー" %><br />
    <%= f.text_area :description, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :recommended_point, "コンセプト" %><br />
    <%= f.text_field :recommended_point, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "プロトタイプの画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn %>
  </div>
<% end %>