<!doctype html>
<html lang="ja" >
  <head>
    <title>価格表示テンプレート for Bootstrap · Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="/assets/coordination.scss" rel="stylesheet">
  </head>
  <style>
    .description{
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .image {
    width: 100%; 
    height: 100%;
    }

  </style>
  <body >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>
    <div class="col-12 p-1 my-2"><h1 class="p-1 m-0">コーディネート情報</h1></div>
      <div class="d-flex">
        <div class=" col-4 p-0">
          <%= image_tag @coordination.image, class: :image %>
        </div>
        <div class="col-8 p-0">
          <table class="table">
            <thead>
              <tr>
                <th>タイトル</th>
                <th><%= @coordination.title %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>説明</td>
                <td><%= @coordination.description %></td>
              </tr>
            </tbody>
            </tbody>
              <tr>
                <td>おすすめポイント</td>
                <td><%= @coordination.recommended_point %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>おすすめアイテム</td>
                <td><%= @coordination.favorite_item %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>コーディネート用途</td>
                <td><%= @coordination.use %></td>
              </tr>
            </tbody>
          </table>
          <div class="col-12 p-0 mt-4 text-white">a</div>
          <div class="col-12 p-0 mt-4 text-white">a</div>
          <% if user_signed_in? && current_user.id == @coordination.user_id %>
            <div class="col-12 p-0 d-flex mt-4 ">
              <div class="col-2"> </div>
              <%= link_to '編集', edit_coordination_path(@coordination.id), method: :get, class: "btn btn-primary col-2"%>
              <div class="col-2"> </div>
              <div class="col-2"> </div>
              <%= link_to '削除', coordination_path(@coordination.id), method: :delete, class: "btn btn-danger col-2"%>
              <div class="col-2"> </div>
            </div>
          <% end %>
        </div>
              

        </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  </body>
</html>
