<head>
  <title>Signin Template for Bootstrap · Bootstrap</title> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
  <link href="/assets/user.scss" rel="stylesheet">
  <link href="/assets/coordination.scss" rel="stylesheet">
</head> 
    
<body class="text-center" >
  <%# <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Skip to main content</span>
    </div>
  </a> %>
  <div class="site-header fixed-top py-2 text-left align-items-center">
    <%= link_to "wewear", root_path, class:"title d-flex" %>
  </div>
  
  <div class="form-signin"> 
    
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      
      <img class="mb-4" src="/assets/w.png" alt="" width="72" height="72">
      
      <h1 class="h3 mb-3 font-weight-normal">新規登録</h1>
      
      <%= f.label :nickname, class:"sr-only" %>
        <%= f.text_field :nickname, id: "nickname", class: "form-control nickname" ,placeholder: "ニックネーム"  %>
      
      <%= f.label :email, class:"sr-only" %>
        <%= f.email_field :email, id: "email", class: "form-control email" ,placeholder: "メールアドレス"  %>
      
      <%= f.label :password, class:"sr-only" %>
        <%= f.password_field :password, id:"password", class: "form-control password" ,placeholder: "パスワード"  %>
      
      <%= f.label :password_confirmation, class:"sr-only" %>
        <%= f.password_field :password_confirmation, id:"password-confirmation", class: "form-control password-confirmation" ,placeholder: "パスワード(確認)"  %>
        
      <%= f.select :sex_id, {'男性': 1, '女性': 2}, { include_blank: '性別を選択してください'}, { class: 'form-control custom-select' , required: true } %>
      
      <%= f.submit "新規登録" ,class:"btn btn-lg btn-primary btn-block" %>
    
      <div class="mt-5 mb-3 text-muted">&copy; 2020 tora Inc.</div>
    <% end %>
  </div>
  <%# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script><script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
  <script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
  <script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
  <script src="/docs/4.5/assets/js/src/application.js"></script>
  <script src="/docs/4.5/assets/js/src/search.js"></script>
  <script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script> %>
</body>

