<head>
  <title>Signin Template for Bootstrap · Bootstrap</title> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
  <link href="/assets/users.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/bootstrap-social.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head> 

<body class="text-center" >
  <div class="form-signin"> 
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      
      <%= link_to image_tag( "/assets/w.png", alt:"", width:"72", height:"72"), root_path ,class:"d-block mx-auto mb-4"%>
      
      <h1 class="h3 mb-3 font-weight-normal">新規登録</h1>
      
      <%= f.label :nickname, class:"sr-only" %>
      <%= f.text_field :nickname, id: "nickname", class: "form-control nickname" ,placeholder: "ニックネーム"  %>
      
      <%= f.label :email, class:"sr-only" %>
      <%= f.email_field :email, id: "email", class: "form-control email" ,placeholder: "メールアドレス"  %>
      
      <%= f.label :password, class:"sr-only" %>
      <%= f.password_field :password, id:"password", class: "form-control password" ,placeholder: "パスワード"  %>
      
      <%= f.label :password_confirmation, class:"sr-only" %>
      <%= f.password_field :password_confirmation, id:"password-confirmation", class: "form-control password-confirmation" ,placeholder: "パスワード(確認)"  %>
        
      <%= f.select :sex_id, {'男性': '男性', '女性': '女性'}, { include_blank: '性別を選択してください'}, { class: 'form-control custom-select' , required: true } %>
      
      <%= f.submit "新規登録" ,class:"btn btn-lg btn-primary btn-block" %>

      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-social btn-google",method: :post do %>
        <span class="fa fa-google"></span>Googleで登録
      <% end %>
      <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook",method: :post do %>
        <span class="fa fa-facebook"></span>Facebookで登録
      <% end %>
      <div class="mt-5 mb-3 text-muted">&copy; 2020 tora Inc.</div>
    <% end %>
  </div>
</body>


