<!doctype html>
<html lang="ja" >
  <head>
    <title>価格表示テンプレート for Bootstrap · Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="/assets/coordination.scss" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
  </head>

  <div class="col-12 p-0" ><h2 class="p-1 m-0"><%="#{@user.nickname}の投稿一覧"%></h2>

  <div class="col-12 mt-4">
    <div class="card__wrapper d-flex">
      <%= render partial: "coordinations/coordination", collection: @coordinations %>
    </div>
  </div>
  
  <div class="col-12 p-0" ><h2 class="p-1 m-0"><%="#{@user.nickname}のプロフィール"%></h2>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap.min.css" />
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>nickname</th>
                    <th><%= @user.nickname %></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>性別</td>
                    <td><%= @user.sex_id %></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>
