<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="/assets/coordination.scss" rel="stylesheet">
    <title>Wewear</title>
  </head>

  <style>
  
  </style>
  <body>
    <header>
      <nav class="site-header sticky-top py-1 d-flex">
      <%= link_to 'wewear', root_path, class: :title %>
      <div class="container d-flex flex-column flex-md-row justify-content-around">
        <% if user_signed_in? %>
          <div class="py-2 d-none d-md-inline-block offset-6" >
            <%= link_to '今日のコーディネート', today_coordination_coordinations_path %>
          </div>
          <%# <div class="py-2 d-none d-md-inline-block" >
            <%= link_to '今週のコーディネート', week_coordination_coordinations_path %>
          <%# </div> %> 
          <div class="py-2 d-none d-md-inline-block">
            <%= link_to '新規投稿', new_coordination_path %>
          </div>
          <div class="py-2 d-none d-md-inline-block">
            <%= link_to "#{current_user.nickname}", user_path(current_user.id) %>
          </div>
          <div class="py-2 d-none d-md-inline-block">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="py-2 offset-8 d-none d-md-inline-block" >
            <%= link_to '新規登録', new_user_registration_path %>
          </div>
          <div class="py-2 d-none d-md-inline-block">
            <%= link_to 'ログイン', new_user_session_path %>
          </div>
        <% end %>
      </div>
      </nav>
    </header>

    <%= yield %>
    
    <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <span class="text-muted">
          <img class="mx-1 my-1 " src="/assets/w.png" alt="" width="56" height="56"> 
          <small class="d-block mb-3 mt-4 text-muted">&copy; 2020 tora Inc</small>
        </span>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
</html>